<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8">
	<title>{{ siteName }}</title>

  <meta name="author" content="Drew Delianides" />
  <meta name="description" content="" />

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="http://assets.delianides.com.s3.amazonaws.com/css/foundation.min.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="http://assets.delianides.com.s3.amazonaws.com/css/app.css" type="text/css" media="screen, projection" />  
  <link rel="stylesheet" href="http://assets.delianides.com.s3.amazonaws.com/css/ss-social.css" type="text/css" media="screen, projection" />  
 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js"></script>
  <script type="text/javascript" src="//use.typekit.net/kcl7rsm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript" src="http://assets.delianides.com.s3.amazonaws.com/javascript/app.js"></script>
  <script type="text/javascript" src="http://assets.delianides.com.s3.amazonaws.com/javascript/ss-social.js"></script>
</head>
<section class="row">
    <div class="nine columns centered">
      <div class="row">
        <div class="avatar four columns">
          <a href="/">
            <span class="avatar">Drew Delianides</span>
          </a>
        </div>
      
        <div class="content eight columns">
          <p class="pronunciation kerning" style="visibility:inherit;">Dell-uh-nee-de-z</p>
          <p class="about">My name is Drew.  I am a web developer from <a href="http://lifeingreenville.com/">Greenville, SC</a>. I enjoy a good cup of <a href="http://tonx.org">coffee</a>, a great book and believe that breakfast is the most important meal of the day! I love Jesus and working with <a href="http://twitter.com/centralops">Central Ops</a> at <a href="http://newspring.cc/">NewSpring Church</a>.</p>
          <div class="social mobile-four">
            <ul>
              <li><a class="ss-icon ss-social-circle" href="http://twitter.com/delianides">Twitter</a></li>
              <li><a class="ss-icon ss-social-circle" href="http://dribbble.com/delianides">Dribbble</a></li>
              <li><a class="ss-icon ss-social-circle" href="http://github.com/delianides">githuboctocat</a></li>
              <li><a class="ss-icon ss-social-circle" href="http://instagram.com/delianides/">instagram</a></li>             
              <li><a class="ss-icon ss-social-circle" href="http://rdio.com/people/delianides">Rdio</a></li>                
              <li><a class="ss-icon ss-social-circle" href="http://stackoverflow.com/users/1821788/delianides">stackoverflow</a></li>                
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38349041-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>

